---
layout: page
title: Tags
description: "An archive of posts sorted by tag."
---

{% assign sorted_tags = (site.tags | sort:0) %}

<div id="tags">
  <ul class="tag-box inline">
  {% for item in sorted_tags %}
    {% assign tag = item | first %}
    <li><a href="#{{ tag | cgi_escape }}">{{ tag }}</a><sup> {{ site.tags[tag].size }}</sup></li>
  {% endfor %}
  </ul>

  {% for item in sorted_tags %}
    {% assign tag = item | first %}
    <h2 id="{{ tag | cgi_escape }}">{{ tag }}</h2>
    <ul>
      {% for post in site.tags[tag] %}{% if post.title != null %}
      <li itemscope><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%F" }}</time> &raquo;
      <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}{% endfor %}
    </ul>
  {% endfor %}
</div>
